@import url(https://fonts.bunny.net/css?family=roboto:100,400,,500,700);

@font-face {
    font-family: odin;
    src: url(font/Norse-Bold.otf);
}

:root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    height: 1024px;
    width: 1440px;
    background-color: #1e1e2e;
}

div,
form,
span {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

body div {
    height: 100%;
}

/**
 * Left Column
 */

.left-column {
    background-image: url("/images/column-background.jpg");
    background-position: center;
    background-size: cover;
    height: 1024px;
    flex: 0 0 37%;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.left-column p {
    align-self: flex-end;
    color: #e1e3d8;
    font-size: 14px;
}

.left-column a {
    color: #e1e3d8;
}

/**
 * Banner
 */

.banner {
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner img {
    height: 80%;
}

.banner h1 {
    font-family: odin;
    color: white;
    font-size: 90px;
    font-weight: 100;
}

/**
 * Main Column
 */

.main {
    height: 1024px;
    background-color: #f9fafb;
}

/**
 * Info Banner
 */

.info {
    height: 375px;
    justify-content: flex-end;
    padding: 0 20% 0 4.5%;
    font-size: 1.5em;
    font-weight: 500;
}

.info p:last-child {
    margin-bottom: 55px;
}

/**
 * Form
 */

.form {
    width: 100%;
    height: 70ch;
}

.form-body {
    height: 305px;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.form-body h1 { 
    flex-basis: 100%;
    margin: 20px 0 0 5%;
    padding: 0;
    color: #1f2937;
    font-size: 1.5em;
    font-weight: 500;
}

span {
    flex-direction: column;
    flex-basis: 30%;
    padding: 0 5%;
}

label {
    color: #2d3744;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    width: 90%;
    padding: 3px 10px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

input[type="submit"] {
    padding: 15px 60px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgb(0 0 0 / 0.25);
    background-color: #596D48;
}

input[type="password"] {
    margin-bottom: 20px;
}

input:focus {
    border: 0.5% solid #4e73da;
    box-shadow: 2px 3px 10px rgb(0 0 0 / 0.25);
}

input:invalid {
    border: 1px solid #b91c1c;
}

/**
 * Form Footer
 */

.form-footer {
    display: block;
    padding-left: 4.5%;
    font-size: 18px;
}

.form-footer a {
    color: #495f36;
    font-weight: 500;
    text-decoration: none;
}